.display-4 {
	font-family: sans-serif;
	color: rgba(0, 0, 225, 0.5);
}

body {
	background-color: white;
	color: black;
}

.jumbotron {
	background-color: lightblue;
	margin-bottom: 10px;
}

.loyl {
	text-align: right;
}

footer {
	background-color: darkcyan;
}

.footer {
	text-align: center;
	margin-top: 50px
}